<!doctype html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Portfólio - Antônio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/icon.png">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/slicknav.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
		<script src="js/post-contato.js"> </script>
		
		
		<!-- Xman CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
		
		<!-- Social -->
		<div class="social-body">
			<ul>
				<li class="linkedin"><a href="https://www.linkedin.com/in/antoniodramos/"><i class="fa fa-linkedin"></i></a></li>
				<li class="whatsapp"><a href="https://wa.me/5579996121420"><i class="fa fa-whatsapp"></i></a></li>
				<li class="github"><a href="https://github.com/tonylincon1"><i class="fa fa-github"></i></a></li>
			</ul>
		</div>
		<!--/ End Social -->
		
		<!-- Header Area -->
		<header id="header" class="header">
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
							<div class="logo">
								<a href="index.html"><img src="img/nnn.png" alt="logo.png"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10 col-xs-12">
							<div class="mobile-menu"></div>
							<nav class="navbar navbar-default">
								<div class="collapse navbar-collapse">
									<ul id="nav" class="nav navbar-nav">
										<li><a href="#about">Sobre mim</a></li>
										<li><a href="#story">Carreira</a></li>
										<li><a href="#education">Educação</a></li>
										<li><a href="#service">Habilidades</a></li>
										<li><a href="#latest-works">Portfólio</a></li>
										<li><a href="#contact">Contato</a></li>
									</ul>
								</div> 
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section id="slider" class="slider" style="background-image:url('img/slider.JPG')">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-12 col-xs-12">
						<div class="text">
							<h1>Antônio Ramos</h1>
							<p>Olá, conheça um pouco mais do meu trabalho.</p>
							<div class="button">
								<a href="#latest-works" class="btn primary "><i class="fa fa-briefcase"></i>Portfólio</a>
								<a href="#contact" class="btn"><i class="fa fa-phone"></i>Contato</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="about"></div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start about -->
		<section class="about">
			<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
			<div class="container">
				<div class="row">
					<div class="about-content">
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="section-title">
								<h2>Sobre Mim</h2>
							</div>
						</div>
						<div class="col-md-100  col-sm-6 col-xs-12">
							<div class="single-about">
								<p class="bolt">Como um profissional dedicado à área de projetos de melhoria e ciência de dados, iniciei minha carreira em 2018 com um estágio na modelagem de móveis usando o Solidworks. No início de 2019, me juntei à empresa júnior Projet Jr como consultor e diretor de projetos, onde fui responsável pela gestão de 41 projetos premiados como empresa júnior de alto crescimento e impacto. Nesse mesmo ano, também participei do programa de qualificação para exportação da Apex-Brasil como apoio técnico e atuei como estagiário na Rede Primavera de saúde no setor de controle de indicadores e SAC. Com um bom desempenho, fui contratado como analista administrativo para liderar projetos na área da diretoria comercial, usando meus conhecimentos em lean six sigma e ciência de dados.</p>
								<p class="bolt">Atualmente, trabalho como Data Scientist na A3Data, em um projeto de desenvolvimento de análises exploratórias que trazem aumento na receita do cliente da empresa. Além da A3data, atuo como Head de Data Science na Insidergic, sendo o responsável pelos projetos de ciência de dados envolvendo visão computacional. Minha trajetória profissional até aqui me permitiu aprimorar minhas habilidades em ciência de dados e aplicá-las em diferentes setores, buscando sempre soluções inovadoras e eficientes para as demandas dos projetos.</p>
								<div class="cv">
									<a href="curriculo/Currículo - Antônio dos Santos Ramos Neto.pdf">Currículo</a>
								</div>
								<div class="social">
									<ul>
										<li class="linkedin"><a href="https://www.linkedin.com/in/antoniodramos/"><i class="fa fa-linkedin"></i></a></li>
										<li class="whatsapp"><a href="https://wa.me/5579996121420"><i class="fa fa-whatsapp"></i></a></li>
										<li class="github"><a href="https://github.com/tonylincon1"><i class="fa fa-github"></i></a></li>
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
			</div>
		</section>
		<!--/ End about -->	
		
		<!-- Start Story -->
		<section id="story" class="story section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Carreira</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="story-content">
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2019</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Business Analyst</h3>
									<p>Rede Primavera</p>
									<p class="p2">Como business analyst, eu tinha várias responsabilidades importantes. Eu aplicava projetos lean six sigma para melhorar os resultados da empresa. Também gerenciava equipes de projetos, analisava processos e fornecia suporte gerencial para a diretoria comercial. Era essencial garantir que as operações funcionassem sem problemas e que a empresa alcançasse seus objetivos de negócios.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2021</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Data Analyst</h3>
									<p>Grupo Brain</p>
									<p class="p2">Atuando como data analyst, minhas tarefas incluíam mapear processos para identificar oportunidades de automação usando tecnologias como Selenium e Pyautogui com Python. Eu também era responsável pela análise e tratamento de dados para elaborar dashboards, que eu desenvolvia no Google Data Studio e Power BI para ajudar nossos clientes a tomar decisões informadas. Além disso, eu trabalhava para melhorar continuamente esses dashboards com base nos testes de usabilidade dos clientes, garantindo que atendessem às necessidades e expectativas dos usuários.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2021</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>Data&eXperience Scientist</h3>
									<p>Mudita.CARE</p>
									<p class="p2">Como Data&eXperience Scientist, gerenciava backlogs, desenvolvia novas features e gerenciava o roadmap do produto. Além disso, trabalhei em projetos importantes, incluindo a criação de um <a href='#modelo_cirurgia'><strong>modelo de classificação de risco de cancelamento cirúrgico</strong></a> e um <a href='#modelo_satisfacao_NLP'><strong>modelo de classificação de satisfação de pacientes utilizando NLP</strong></a>. Utilizando meus conhecimentos em dados, fui capaz de identificar soluções alternativas para os desafios enfrentados, contribuindo para o sucesso desses projetos. Essas experiências me ensinaram muito sobre o poder dos dados e como usá-los para criar soluções eficazes para os problemas.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2022</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>Data Scientist</h3>
									<p>A3Data</p>
									<p class="p2">Atualmente como Data Scientist, auxilio na investigação de hipóteses, elaboro análises exploratórias e desenvolvo modelos de machine learning para resolver problemas de negócios. Além disso, trabalhei em projetos importantes, incluindo a <a href='#score_atend'><strong>criação de um score para avaliação do atendimento de atendentes</strong></a> e a <a href='#clutering'><strong>clusterização de personas de usuários de produtos</strong></a>. Utilizando minhas habilidades em dados, fui capaz de identificar padrões e criar soluções eficazes para esses desafios.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2022</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>Co-Founder e Head of Data Science</h3>
									<p>Insidergic</p>
									<p class="p2">Como Co-Founder e Head of Data Science, tenho grandes responsabilidades na definição das estratégias e posicionamentos dos projetos de ciência de dados. Além disso, lidero tecnicamente projetos envolvendo inteligência artificial e atuo em todas as etapas de coleta, análise, modelagem e deploy em projetos de visão computacional e outras técnicas de ciência de dados. Para estar sempre atualizado e trazer inovação para nossos projetos, acompanho as tendências e inovações das tecnologias de ciência de dados lançadas no mercado. Em projetos anteriores, criei um <a href='#modelo_gans'><strong>modelo de criação de calçados utilizando redes GANs</strong></a> e desenvolvi um <a href='#sis_similaridade'><strong>sistema de recomendação de calçados por similaridade</strong></a>. Essas experiências me permitiram aplicar minhas habilidades em dados de forma criativa e inovadora.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End story -->

		<!-- Start Story -->
		<section id="education" class="story section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Educação</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="story-content">
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2017</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Engenharia de Produção</h3>
									<p>Universidade Tiradentes (2017 - 2021)</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2022</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Mestrado em Ciência da Computação</h3>
									<p>Universidade Federal de Sergipe (2022 - 2023)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End story -->
		
		
		<!-- Start service -->
		<section id="service" class="service section">
			<div class="container">
				<div class="row row_skills">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="section-title">
							<h2>Habilidades</h2>
						</div> 
					</div>
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="row row_skills">
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-database"></i>
									<h5>Coleta e Processamento de Dados</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Trabalho com diferentes tipos de dados, incluindo estruturados, não estruturados e semiestruturados.</li>
										<li class='skills_li'>Experiência com bancos de dados e extração de dados desses sistemas usando SQL e ferramentas como MySQL, S3 e Big Query.</li>
										<li class='skills_li'>Desenvolvo rotinas de extração de dados automatizadas usando ferramentas como Python, pandas e NumPy, bem como APIs de coleta de dados.</li>
										<li class='skills_li'>Utilizo ferramentas de web scraping como Beautiful Soup e Scrapy, para extrair informações de sites e outras fontes de dados online.</li>
										<li class='skills_li'>Lido com problemas de limpeza e pré-processamento de dados, como tratamento de dados ausentes, remoção de outliers e normalização de dados, utilizando técnicas estatísticas e ferramentas como Pandas e Scikit-learn.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-book"></i>
									<h5>Machine/Deep Learning</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Tenho habilidade em aplicar algoritmos de machine learning e deep learning para resolver problemas complexos de classificação, regressão e processamento de linguagem natural, utilizando redes neurais, SVM, árvores de decisão, etc.</li>
										<li class='skills_li'>Sei como lidar com dados em grande escala, preparando-os para treinar modelos de machine learning, incluindo normalização e redução de dimensionalidade.</li>
										<li class='skills_li'>Conheço frameworks de deep learning, como TensorFlow, PyTorch e Keras, e sou capaz de implementar e treinar modelos em visão computacional e séries temporais.</li>
										<li class='skills_li'>Trabalho sobre a técnica de transferência de aprendizado, que permite utilizar modelos pré-treinados em novos problemas relacionados, reduzindo o tempo e o custo de treinamento de novos modelos.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-area-chart"></i>
									<h5>Análise Exploratória e Visualização de Dados</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Possuo técnicas estatísticas descritivas e exploratórias como medidas de centralidade, variabilidade e correlação, histogramas, box plots, scatter plots, análise de sobrevivência, entre outros.</li>
										<li class='skills_li'>Uso ferramentas de visualização de dados, como PowerBI, Streamlit e Matplotlib, para criar gráficos e visualizações interativas que ajudam a entender melhor os dados.</li>
										<li class='skills_li'>Comunico resultados de análise de dados de forma clara e objetiva, usando apresentações, dashboards e relatórios, fazendo o bom uso do <a target='\blank' href="https://www.youtube.com/watch?v=hwd0W7W7iBM&t=2916s">storytelling</a>.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-desktop"></i>
									<h5>Visão Computacional</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Consigo realizar extração e manipulação de imagens e vídeos, utilizando bibliotecas como OpenCV e PIL (Python Imaging Library).</li>
										<li class='skills_li'>Conheço sobre algoritmos de visão computacional, como detecção de objetos, classificação de objetos, segmentação de imagens, recomendação por similaridade e sei como aplicá-los para resolver problemas em diferentes áreas, como segurança, automação industrial e saúde.</li>
										<li class='skills_li'>Sou capaz de integrar tecnologias de visão computacional em sistemas existentes, utilizando ferramentas como a biblioteca OpenCV para Python.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-cloud-upload"></i>
									<h5>Ferramentas e Deployment</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Experiência com Amazon Web Services (AWS), Microsoft Azure e Google Cloud Platform (GCP), e sei como implantar modelos de machine learning nessas plataformas.</li>
										<li class='skills_li'>Implemento modelos de machine learning usando ferramentas como TensorFlow, Keras e PyTorch, e tenho experiência em implementar modelos de deep learning em GPUs usando o CUDA.</li>
										<li class='skills_li'>GitHub e GitLab.</li>
										<li class='skills_li'>Python, VS code, Jupyter Notebook e JupyterLab.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-chrome"></i>
									<h5>Desenvolvimento Web</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Tenho habilidade em escrever HTML e CSS básico para construir páginas da web.</li>
										<li class='skills_li'>Sou capaz de escrever scripts em JavaScript básico para criar interações e animações simples na página da web.</li>
										<li class='skills_li'>Possuo conhecimento em desenvolvimento web em Python, utilizando frameworks como Flask e Django.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->	


		<section id="slider" class="slider slider2" style="background-image:url('img/slider2.jpg')">
		</section>

		<div id="latest-works"></div>

		<!-- Latest Works -->
		<section class="projects">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Portfólio</h2>
						</div>
					</div>
				</div>
			</div>
				<div id='modelo_gans'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de criação de calçados utilizando redes GANs</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf1.mp4" type="video/mp4"></video>
						<p class="project-description">O projeto foi desenvolvido para a empresa Beira Rio Calçados com o objetivo de auxiliar no processo criativo para lançamento de novas peças. O modelo foi criado utilizando a linguagem de programação Python e redes GANs (Stable Diffusion).</p>
						<p class="project-description">A técnica de Stable Diffusion foi escolhida para treinar a GAN utilizada no modelo. Esta técnica é baseada em amostragem em cadeia de Markov e foi escolhida por sua capacidade de gerar imagens de alta qualidade a partir de imagens de entrada.</p>
						<p class="project-description">O modelo desenvolvido tem como entrada duas imagens de calçados e como saída uma nova imagem de calçado gerada pela rede GAN. Para a criação do modelo, foi utilizada uma GAN já pré-treinada, que foi adaptada para o uso específico na criação de calçados.</p>
						<p class="project-description">Para o deploy do modelo, foi utilizado o API Flask e AWS Elastic Container Service, que permitem a criação e o gerenciamento de serviços em nuvem de maneira rápida e eficiente.</p>
						<p class="project-description">O modelo de criação de calçados utilizando redes GANs foi um sucesso para a Beira Rio Calçados, pois permitiu a criação de novas peças com mais rapidez e eficiência. Além disso, o modelo também ajudou na redução de custos com prototipagem de calçados, já que a geração de imagens em 3D a partir do modelo foi mais rápida e precisa do que a criação física de protótipos.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Programação (Python), GANs (Stable Diffusion), Deploy (API Flask, AWS Elastic Container Service).</p>
					</div>
				</div>
				<div id='sis_similaridade' class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de recomendação de calçados por similaridade</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf2.mp4" type="video/mp4"></video>
						<p class="project-description">O projeto foi desenvolvido utilizando técnicas avançadas de deep learning e visão computacional. A linguagem de programação utilizada foi Python, que é amplamente utilizada em projetos de inteligência artificial e machine learning.</p>
						<p class="project-description">O primeiro passo do projeto foi tratar e padronizar as imagens do banco de dados da Beira Rio Calçados, que continha mais de 30 mil imagens. Isso foi feito utilizando técnicas de pré-processamento de imagens, como redimensionamento, normalização e correção de brilho e contraste.</p>
						<p class="project-description">Em seguida, foi utilizado o modelo de classificação Zero Shot Images de deep learning para classificar as imagens. Esse modelo foi treinado com uma grande quantidade de imagens e foi capaz de classificar as imagens em várias categorias, incluindo cor, estilo, forma e material.</p>
						<p class="project-description">Para buscar imagens semelhantes, foi utilizado o TensorFlow Similarity, uma biblioteca de visão computacional que é capaz de encontrar imagens similares a partir de uma imagem de referência. Esse modelo utiliza técnicas de processamento de imagens, como extração de características, para identificar as imagens mais semelhantes.</p>
						<p class="project-description">Por fim, o modelo foi implementado em uma API Flask e implantado em um serviço de contêineres AWS Elastic Container Service, permitindo que a equipe da Beira Rio Calçados pudesse acessá-lo facilmente e fazer buscas de imagens semelhantes em seu banco de dados. Com isso, a empresa foi capaz de encontrar referências mais rapidamente, auxiliando no processo criativo e desenvolvimento de novas peças de calçados.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Programação (Python), Deep learning (Classificação - Zero Shot Images), Visão Computacional (Tensorflow Similarity), Deploy (API Flask, AWS Elastic Container Service).</p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Probabilidade de churn com análise de sobrevivência</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf3.mp4" type="video/mp4"></video>	
						<p class="project-description">O projeto teve como objetivo identificar se diferentes taxas de engajamento dos clientes estavam relacionadas a uma menor probabilidade de churn. Para isso, foram utilizadas ferramentas e tecnologias como Linguagem de Programação Python, Análise de Sobrevivência com a biblioteca Lifelines, Tratamento de Dados com Pandas e Visualização de Dados com Seaborn, Matplotlib e Storytelling.</p>
						<p class="project-description">O conceito de engajamento dos usuários adotados na análise foi definido como aqueles que retornaram ao cliente em um intervalo menor ou igual a 3 meses após o seu primeiro uso. Foram analisadas diferentes taxas de engajamento dos clientes e a curva de sobrevivência foi utilizada para verificar a relação entre engajamento e probabilidade de churn.</p>
						<p class="project-description">A curva de sobrevivência é uma técnica estatística utilizada para analisar a probabilidade de um evento ocorrer em um determinado período de tempo. No caso deste projeto, o evento analisado foi o churn, que é quando um cliente deixa de utilizar um serviço ou produto. A curva de sobrevivência foi utilizada para calcular a probabilidade de um cliente permanecer utilizando o produto ao longo do tempo, de acordo com sua taxa de engajamento.</p>
						<p class="project-description">Através da análise da curva de sobrevivência, foi possível verificar que os clientes com uma taxa de engajamento entre 69% a 100% apresentavam uma melhor curva de sobrevivência em relação aos demais, indicando uma menor probabilidade de churn. Esse resultado foi verificado através de testes estatísticos como log-rank, cox coefficient p-value e survival in time t, que apontaram para uma diferença estatisticamente significativa entre as curvas de sobrevivência dos clientes com diferentes taxas de engajamento.</p>
						<p class="project-description">Em resumo, o projeto "Probabilidade de churn com análise de sobrevivência" utilizou a curva de sobrevivência para analisar a relação entre a taxa de engajamento dos clientes e a probabilidade de churn. Essa análise foi realizada utilizando ferramentas e tecnologias como Python, Lifelines, Pandas e Seaborn, permitindo a identificação de clientes com menor probabilidade de churn e auxiliando na tomada de decisões estratégicas da empresa.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Programação (Python), Análise de Sobrevivência (Lifelines),  Tratamento de Dados (Pandas),  Visualização de Dados (Seaborn, Matplotlib, Storytelling).</p>
					</div>
				</div>
				<div id='clutering'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Segmentação das personas de usuários de produtos</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf4.mp4" type="video/mp4"></video>	
						<p class="project-description">O projeto foi desenvolvido para resolver a hipótese de que é possível segmentar os tipos de comportamentos dos usuários para analisar o engajamento com o produto de maneira mais assertiva. O projeto foi dividido em quatro fases.</p>
						<p class="project-description">Na primeira fase, houve uma validação dos eventos dos usuários, em conjunto com a área de negócio, para definir quais eventos são importantes para a segmentação dos comportamentos. Na segunda fase, foi feita uma exploração dos eventos selecionados para avaliar, através dos dados, a utilização na segmentação dos comportamentos.</p>
						<p class="project-description">A terceira fase envolveu a aplicação de técnicas de clusterização para realizar a segmentação dos comportamentos dos usuários. Para isso, foi utilizada a ferramenta Scikit Learn, que é uma biblioteca de aprendizado de máquina em Python. Foi também aplicada a técnica de redução de dimensionalidade UMAP, que ajudou a visualizar os dados em duas dimensões.</p>
						<p class="project-description">Por fim, na quarta fase, foram caracterizados os comportamentos obtidos através do modelo de clusterização. Como resultado, foram encontradas quatro personas distintas: Cluster 1 com comportamento de uso relacionado ao envio de mensagens ativas; Cluster 2 com comportamento de uso de monitoramento; Cluster 3 com comportamento de uso relacionado ao envio de mensagens ativas pela aba de Growth; e Cluster 4 com comportamento de uso diversificado, porém com foco em desenvolvimento.</p>
						<p class="project-description">Durante todo o projeto, foram utilizadas ferramentas e tecnologias como Linguagem de Programação Python, Tratamento de Dados com Pandas, Visualização de Dados com Seaborn, Matplotlib e Storytelling, além das já mencionadas Scikit Learn e UMAP. A partir dos resultados obtidos, a empresa pôde utilizar as personas encontradas para entender melhor o engajamento dos usuários com o produto e direcionar melhorias e inovações.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Programação (Python), Clusterização (Scikit Learn), Redução de dimensionalidade (UMAP), Tratamento de Dados (Pandas), Visualização de Dados (Seaborn, Matplotlib, Storytelling).</p>
					</div>
				</div>
				<div id='score_atend'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Score para avaliação do atendimento de atendentes</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf5.mp4" type="video/mp4"></video>	
						<p class="project-description">O projeto teve como objetivo criar um score para avaliar o desempenho dos atendentes em relação às métricas de atendimento. Para isso, foram utilizadas técnicas de redução de dimensionalidade, mais especificamente a Análise de Componentes Principais (PCA).</p>
						<p class="project-description">Inicialmente, foram definidas as métricas que comporiam o score: mediana do tempo de atendimento por ticket no trimestre, mediana do tempo de espera por ticket no trimestre e mediana do volume diário de tickets no trimestre. Essas métricas foram escolhidas por refletirem o desempenho dos atendentes em relação à eficiência no atendimento e à capacidade de lidar com volume de demanda.</p>
						<p class="project-description">Em seguida, foi realizada a análise de componentes principais (PCA), que tem como objetivo reduzir a dimensionalidade dos dados, mantendo a maior parte da variação dos dados originais. A técnica de PCA permite transformar as métricas em um conjunto menor de variáveis que melhor representam o desempenho dos atendentes.</p>
						<p class="project-description">Após a aplicação da técnica de PCA, foram gerados os scores para cada atendente. O score final foi calculado como uma combinação linear das variáveis principais obtidas a partir da PCA. Esses scores foram então utilizados para identificar os atendentes com baixa performance e indicar possíveis intervenções para melhorar seu desempenho, como treinamentos e realocações.</p>
						<p class="project-description">Por fim, a visualização dos scores dos atendentes em relação às métricas de atendimento permitiu aos gestores identificar padrões de desempenho e identificar oportunidades de melhoria no atendimento. A utilização do score criado com a técnica de PCA permitiu uma avaliação mais objetiva e consistente do desempenho dos atendentes, contribuindo para o aumento da eficiência do atendimento e, consequentemente, da receita dos clientes.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Programação (Python), Redução de dimensionalidade (PCA), Tratamento de Dados (Pandas), Visualização de Dados (Seaborn, Matplotlib, Storytelling).</p>
					</div>
				</div>
				<div id='modelo_cirurgia'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de classificação de risco de cancelamento cirúrgico</h2>
						<img src="img/pf6.png" alt="Modelo de classificação de risco de cancelamento cirúrgico" class="project-image">
						<p class="project-description">O projeto teve como objetivo criar uma nova funcionalidade para um produto que consistia em prever quais cirurgias poderiam ter um potencial de cancelamento a partir de um conjunto de informações. Para isso, utilizamos a linguagem de programação Python e a biblioteca Pycaret para desenvolver o modelo de classificação.</p>
						<p class="project-description">Inicialmente, fizemos o tratamento dos dados, utilizando a biblioteca Pandas para limpar e transformar os dados em um formato adequado para o modelo. Em seguida, utilizamos o Pycaret para realizar o treinamento do modelo de gradient boosting machine, que mostrou um F1-score de 0.71.</p>
						<p class="project-description">O modelo de gradient boosting machine é um algoritmo de aprendizado de máquina que utiliza uma combinação de árvores de decisão para realizar a classificação. Esse algoritmo é conhecido por sua capacidade de lidar com dados complexos e não lineares, o que o torna ideal para nosso problema. Apesar de termos feito vários treinamentos utilizando Pycaret.</p>
						<p class="project-description">Ao final do projeto, conseguimos criar um modelo de classificação eficiente que foi capaz de prever com precisão quais cirurgias tinham um potencial de cancelamento. Com isso, nossos clientes puderam utilizar essa nova funcionalidade para evitar cancelamentos desnecessários e aumentar a eficiência em suas operações.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Programação (Python), Classificação (Pycaret), Tratamento de Dados (Pandas).</p>
					</div>
				</div>
				<div id='modelo_satisfacao_NLP'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de classificação de satisfação de pacientes utilizando NLP</h2>
						<img src="img/pf7.png" alt="Modelo de classificação de satisfação de pacientes utilizando NLP" class="project-image">
						<p class="project-description">O projeto foi desenvolvido com o objetivo de identificar a satisfação dos pacientes e capturar elementos importantes de suas queixas ou elogios. O modelo foi integrado em uma solução ponta a ponta que trabalha com a satisfação dos pacientes e era requisitado via chatbot, analisando em tempo real as mensagens dos pacientes e direcionando para as áreas responsáveis.</p>
						<p class="project-description">As técnicas/estratégias utilizadas incluíram remoção de stopwords, tokenização, normalização de texto, remoção de pontuações, evitando flexões e derivações nas palavras e TF-IDF. Para o treinamento do modelo, utilizou-se o algoritmo de classificação Logistic Regression, que mostrou-se eficaz na classificação da satisfação dos pacientes obtendo uma acurácia de 72%.</p>
						<p class="project-description">O modelo desenvolvido foi capaz de classificar com precisão a satisfação dos pacientes, indicando se a mensagem do paciente era positiva (promotor) ou negativa (detrator). Além disso, o modelo também foi capaz de identificar os principais termos utilizados pelos pacientes em suas mensagens, permitindo que a equipe responsável pudesse tomar ações imediatas para melhorar a experiência do paciente.</p>
						<p class="project-description">O modelo foi implantado com sucesso em produção e integrado na solução desenvolvida para trabalhar a satisfação dos pacientes, trazendo resultados positivos para a empresa. A implementação do modelo permitiu uma análise mais precisa e em tempo real das mensagens dos pacientes, permitindo a tomada de ações imediatas para melhorar a experiência do paciente.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong>  Linguagem de Programação (Python), NLP (Scikit Learn, nltk), Tratamento de Dados (Pandas), Visualização de Dados (Seaborn, Matplotlib, Wordcloud), Deploy (API Flask, GCP APP Engine, Heroku).</p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Landing page e Blog para o projeto Rio Doce Labs</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf8.mp4" type="video/mp4"></video>					  
						<p class="project-description">O projeto foi desenvolvido com o objetivo de criar uma plataforma para empreendedores de Governador Valadares, Ipatinga e Linhares aprimorarem seus negócios. Foi criada uma landing page utilizando HTML, CSS e JavaScript, com um layout responsivo e intuitivo, que apresentava todas as informações necessárias sobre o programa Rio Doce LABS.</p>
						<p class="project-description">Além disso, um blog em WordPress foi desenvolvido para manter os empreendedores atualizados sobre as novidades do programa. A escolha pelo WordPress foi devido à sua facilidade de uso e personalização.</p>
						<p class="project-description">Para a hospedagem, foram utilizados os serviços do Vercel e Hostgator. O Vercel foi escolhido por sua facilidade de deploy e escalabilidade, enquanto o Hostgator foi escolhido por ser um servidor confiável e seguro.</p>
						<p class="project-description">A API Flask foi utilizada para integrar o formulário de inscrição na landing page com o banco de dados, facilitando a gestão das inscrições. Além disso, foram utilizados outros recursos, como o Google Analytics, para acompanhar o desempenho do site e o SEO para aumentar sua visibilidade nos mecanismos de busca.</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Marcação e Estilo (HTML, CSS), Linguagem de Programação (JavaScript, Python), Wordpress, Deploy(Vercel, Hostgator, API Flask).</p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Landing pages para o projeto Rio Doce Digital</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf9.mp4" type="video/mp4"></video>
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Marcação e Estilo (HTML, CSS), Linguagem de Programação (JavaScript, Python), Deploy(Vercel, Hostgator, API Flask).</p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Landing pages para o projeto Campus Tech</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf10.mp4" type="video/mp4"></video>
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> Linguagem de Marcação e Estilo (HTML, CSS), Linguagem de Programação (JavaScript, Python), Deploy(Vercel, Hostgator, API Flask).</p>
					</div>
				</div>
		</section>
		<!--/ End Works -->
		
		<!-- Clients -->
		<div id="clients" class="clients section">
			<div class="section-title">
				<h2>Empresas</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="img/Empresas/2.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/4.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/5.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/6.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/7.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Clients -->
	
		<!-- Contact -->
		<section id="contact" class="contact section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="contact-info">
							<h4>Contato</h4>
							<p>Ficou interessado pelo meu perfil profissional?</p>
							<p>Entre em contato através das informações abaixo, ou nos envie suas dúvidas, curiosidades, propostas, através da caixa de contato ao lado.</p>
							<span><i class="fa fa-phone-square"></i><a href="https://api.whatsapp.com/send/?phone=5579996121420&text&app_absent=0">(079) 99612-1420</a></span>
							<span><i class="fa fa-envelope"></i><a>antonio.ddramos@gmail.com</a></span>
						</div>
					</div>
					<div class="col-md-8 col-sm-12 col-xs-12 ">
						<div class="form-head">
							<form class="form" onsubmit="cadastraUsuario()">
								<div class="form-group">
									<input id="name" name="name" type="text" placeholder="Nome">
								</div>
								<div class="form-group">
									<input id="email" name="email" type="email" placeholder="Email">
								</div>
								<div class="form-group">
									<input id="tel" name="tel" type="tel" placeholder="Telefone">
								</div>
								<div class="form-group">
									<textarea id="message" name="message" placeholder="Mensagem"></textarea>
								</div>
								<div class="form-group">
									<div class="button">
										<button type="submit" class="btn primary">Enviar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact -->
		
		<!-- Footer -->
		<footer id="footer" class="footer section">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Social -->
							<ul class="social">
								<li class="linkedin"><a href="https://www.linkedin.com/in/antoniodramos/"><i class="fa fa-linkedin"></i></a></li>
								<li class="whatsapp"><a href="https://wa.me/5579996121420"><i class="fa fa-whatsapp"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>© 2022 Feito por Antônio Ramos</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
		
		<script src="js/jquery.min.js">  </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/easing.min.js"></script>
		<script src="js/jquery-appear.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0RqLa90WDfoJedoE3Z_Gy7a7o8PCL2jw"></script>
        <script type="text/javascript" src="js/gmaps.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
