<!doctype html>
<html class="no-js" lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Portifólio - Antônio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/icon.png">
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans:300i,400,400i,500,600,700,800,900" rel="stylesheet">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/slicknav.min.css">
		<link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
		<script src="js/post-contato.js"> </script>
		
		
		<!-- Xman CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
		
		<!-- Social -->
		<div class="social-body">
			<ul>
				<li class="linkedin"><a href="https://www.linkedin.com/in/antoniodramos/"><i class="fa fa-linkedin"></i></a></li>
				<li class="whatsapp"><a href="https://wa.me/5579996121420"><i class="fa fa-whatsapp"></i></a></li>
				<li class="instagram"><a href="https://www.instagram.com/engprodramos/"><i class="fa fa-instagram"></i></a></li>
				<li class="github"><a href="https://github.com/tonylincon1"><i class="fa fa-github"></i></a></li>
			</ul>
		</div>
		<!--/ End Social -->
		
		<!-- Header Area -->
		<header id="header" class="header">
			<div class="header-inner">
				<div class="container">
					<div class="row">
						<div class="col-md-3 col-sm-2 col-xs-12">
							<div class="logo">
								<a href="index.html"><img src="img/nnn.png" alt="logo.png"></a>
							</div>
						</div>
						<div class="col-md-9 col-sm-10 col-xs-12">
							<div class="mobile-menu"></div>
							<nav class="navbar navbar-default">
								<div class="collapse navbar-collapse">
									<ul id="nav" class="nav navbar-nav">
										<li><a href="#about">Sobre mim</a></li>
										<li><a href="#story">Carreira</a></li>
										<li><a href="#education">Educação</a></li>
										<li><a href="#service">Habilidades</a></li>
										<li><a href="#latest-works">Portfólio</a></li>
										<li><a href="#contact">Contato</a></li>
									</ul>
								</div> 
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->
		
		<!-- Slider Area -->
		<section id="slider" class="slider" style="background-image:url('img/slider.JPG')">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-sm-12 col-xs-12">
						<div class="text">
							<h1>Antônio Ramos</h1>
							<p>Olá, conheça um pouco mais do meu trabalho.</p>
							<div class="button">
								<a href="#latest-works" class="btn primary "><i class="fa fa-briefcase"></i>Portfólio</a>
								<a href="#contact" class="btn"><i class="fa fa-phone"></i>Contato</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="about"></div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start about -->
		<section class="about">
			<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
			<div class="container">
				<div class="row">
					<div class="about-content">
						<div class="col-md-2 col-sm-2 col-xs-12">
							<div class="section-title">
								<h2>Sobre Mim</h2>
							</div>
						</div>
						<div class="col-md-100  col-sm-6 col-xs-12">
							<div class="single-about">
								<p class="bolt">Como um profissional dedicado à área de projetos de melhoria e ciência de dados, iniciei minha carreira em 2018 com um estágio na modelagem de móveis usando o Solidworks. No início de 2019, me juntei à empresa júnior Projet Jr como consultor e diretor de projetos, onde fui responsável pela gestão de 41 projetos premiados como empresa júnior de alto crescimento e impacto. Nesse mesmo ano, também participei do programa de qualificação para exportação da Apex-Brasil como apoio técnico e atuei como estagiário na Rede Primavera de saúde no setor de controle de indicadores e SAC. Com um bom desempenho, fui contratado como analista administrativo para liderar projetos na área da diretoria comercial, usando meus conhecimentos em lean six sigma e ciência de dados.</p>
								<p class="bolt">Atualmente, trabalho como Data Scientist na A3Data, em um projeto de desenvolvimento de análises exploratórias que trazem aumento na receita do cliente da empresa. Além da A3data, atuo como Head de Data Science na Insidergic, sendo o responsável pelos projetos de ciência de dados envolvendo visão computacional. Minha trajetória profissional até aqui me permitiu aprimorar minhas habilidades em ciência de dados e aplicá-las em diferentes setores, buscando sempre soluções inovadoras e eficientes para as demandas dos projetos.</p>
								<div class="cv">
									<a href="curriculo/Currículo - Antônio dos Santos Ramos Neto.pdf">Currículo</a>
								</div>
								<div class="social">
									<ul>
										<li class="linkedin"><a href="https://www.linkedin.com/in/antoniodramos/"><i class="fa fa-linkedin"></i></a></li>
										<li class="whatsapp"><a href="https://wa.me/5579996121420"><i class="fa fa-whatsapp"></i></a></li>
										<li class="instagram"><a href="https://www.instagram.com/engprodramos/"><i class="fa fa-instagram"></i></a></li>
										<li class="github"><a href="https://github.com/tonylincon1"><i class="fa fa-github"></i></a></li>
									</ul>
								</div>
							</div>
					</div>
				</div>
			</div>
			</div>
		</section>
		<!--/ End about -->	
		
		<!-- Start Story -->
		<section id="story" class="story section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Carreira</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="story-content">
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2019</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Business Analyst</h3>
									<p>Rede Primavera</p>
									<p class="p2">Como business analyst, eu tinha várias responsabilidades importantes. Eu aplicava projetos lean six sigma para melhorar os resultados da empresa. Também gerenciava equipes de projetos, analisava processos e fornecia suporte gerencial para a diretoria comercial. Era essencial garantir que as operações funcionassem sem problemas e que a empresa alcançasse seus objetivos de negócios.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2021</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Data Analyst</h3>
									<p>Grupo Brain</p>
									<p class="p2">Atuando como data analyst, minhas tarefas incluíam mapear processos para identificar oportunidades de automação usando tecnologias como Selenium e Pyautogui com Python. Eu também era responsável pela análise e tratamento de dados para elaborar dashboards, que eu desenvolvia no Google Data Studio e Power BI para ajudar nossos clientes a tomar decisões informadas. Além disso, eu trabalhava para melhorar continuamente esses dashboards com base nos testes de usabilidade dos clientes, garantindo que atendessem às necessidades e expectativas dos usuários.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2021</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>Data&eXperience Scientist</h3>
									<p>Mudita.CARE</p>
									<p class="p2">Como Data&eXperience Scientist, gerenciava backlogs, desenvolvia novas features e gerenciava o roadmap do produto. Além disso, trabalhei em projetos importantes, incluindo a criação de um <a href='#modelo_cirurgia'><strong>modelo de classificação de risco de cancelamento cirúrgico</strong></a> e um <a href='#modelo_satisfacao_NLP'><strong>modelo de classificação de satisfação de pacientes utilizando NLP</strong></a>. Utilizando meus conhecimentos em dados, fui capaz de identificar soluções alternativas para os desafios enfrentados, contribuindo para o sucesso desses projetos. Essas experiências me ensinaram muito sobre o poder dos dados e como usá-los para criar soluções eficazes para os problemas.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2022</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>Data Scientist</h3>
									<p>A3Data</p>
									<p class="p2">Atualmente como Data Scientist, auxilio na investigação de hipóteses, elaboro análises exploratórias e desenvolvo modelos de machine learning para resolver problemas de negócios. Além disso, trabalhei em projetos importantes, incluindo a <a href='#score_atend'><strong>criação de um score para avaliação do atendimento de atendentes</strong></a> e a <a href='#clutering'><strong>clusterização de personas de usuários de produtos</strong></a>. Utilizando minhas habilidades em dados, fui capaz de identificar padrões e criar soluções eficazes para esses desafios.</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="1s">2022</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="1s">
									<h3>Co-Founder e Head of Data Science</h3>
									<p>Insidergic</p>
									<p class="p2">Como Co-Founder e Head of Data Science, tenho grandes responsabilidades na definição das estratégias e posicionamentos dos projetos de ciência de dados. Além disso, lidero tecnicamente projetos envolvendo inteligência artificial e atuo em todas as etapas de coleta, análise, modelagem e deploy em projetos de visão computacional e outras técnicas de ciência de dados. Para estar sempre atualizado e trazer inovação para nossos projetos, acompanho as tendências e inovações das tecnologias de ciência de dados lançadas no mercado. Em projetos anteriores, criei um <a href='#modelo_gans'><strong>modelo de criação de calçados utilizando redes GANs</strong></a> e desenvolvi um <a href='#sis_similaridade'><strong>sistema de recomendação de calçados por similaridade</strong></a>. Essas experiências me permitiram aplicar minhas habilidades em dados de forma criativa e inovadora.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End story -->

		<!-- Start Story -->
		<section id="education" class="story section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Educação</h2>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
						<div class="story-content">
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2017</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Engenharia de Produção</h3>
									<p>Universidade Tiradentes (2017 - 2021)</p>
								</div>
							</div>
							<!-- single-story -->
							<div class="single-story">
								<span class="year wow fadeInLeft" data-wow-duration="0.8s" data-wow-delay="0.8s">2022</span>
								<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
									<h3>Mestrado em Ciência da Computação</h3>
									<p>Universidade Federal de Sergipe (2022 - 2023)</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End story -->
		
		
		<!-- Start service -->
		<section id="service" class="service section">
			<div class="container">
				<div class="row row_skills">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="section-title">
							<h2>Habilidades</h2>
						</div> 
					</div>
					<div class="col-md-8 col-sm-12 col-xs-12">
						<div class="row row_skills">
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.4s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-database"></i>
									<h5>Coleta e Processamento de Dados</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Trabalho com diferentes tipos de dados, incluindo estruturados, não estruturados e semiestruturados.</li>
										<li class='skills_li'>Experiência com bancos de dados e extração de dados desses sistemas usando SQL e ferramentas como MySQL, S3 e Big Query.</li>
										<li class='skills_li'>Desenvolvo rotinas de extração de dados automatizadas usando ferramentas como Python, pandas e NumPy, bem como APIs de coleta de dados.</li>
										<li class='skills_li'>Utilizo ferramentas de web scraping como Beautiful Soup e Scrapy, para extrair informações de sites e outras fontes de dados online.</li>
										<li class='skills_li'>Lido com problemas de limpeza e pré-processamento de dados, como tratamento de dados ausentes, remoção de outliers e normalização de dados, utilizando técnicas estatísticas e ferramentas como Pandas e Scikit-learn.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-book"></i>
									<h5>Machine/Deep Learning</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Tenho habilidade em aplicar algoritmos de machine learning e deep learning para resolver problemas complexos de classificação, regressão e processamento de linguagem natural, utilizando redes neurais, SVM, árvores de decisão, etc.</li>
										<li class='skills_li'>Sei como lidar com dados em grande escala, preparando-os para treinar modelos de machine learning, incluindo normalização e redução de dimensionalidade.</li>
										<li class='skills_li'>Conheço frameworks de deep learning, como TensorFlow, PyTorch e Keras, e sou capaz de implementar e treinar modelos em visão computacional e séries temporais.</li>
										<li class='skills_li'>Trabalho sobre a técnica de transferência de aprendizado, que permite utilizar modelos pré-treinados em novos problemas relacionados, reduzindo o tempo e o custo de treinamento de novos modelos.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.5s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-area-chart"></i>
									<h5>Análise Exploratória e Visualização de Dados</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Possuo técnicas estatísticas descritivas e exploratórias como medidas de centralidade, variabilidade e correlação, histogramas, box plots, scatter plots, análise de sobrevivência, entre outros.</li>
										<li class='skills_li'>Uso ferramentas de visualização de dados, como PowerBI, Streamlit e Matplotlib, para criar gráficos e visualizações interativas que ajudam a entender melhor os dados.</li>
										<li class='skills_li'>Comunico resultados de análise de dados de forma clara e objetiva, usando apresentações, dashboards e relatórios, fazendo o bom uso do <a target='\blank' href="https://www.youtube.com/watch?v=hwd0W7W7iBM&t=2916s">storytelling</a>.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.6s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-desktop"></i>
									<h5>Visão Computacional</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Consigo realizar extração e manipulação de imagens e vídeos, utilizando bibliotecas como OpenCV e PIL (Python Imaging Library).</li>
										<li class='skills_li'>Conheço sobre algoritmos de visão computacional, como detecção de objetos, classificação de objetos, segmentação de imagens, recomendação por similaridade e sei como aplicá-los para resolver problemas em diferentes áreas, como segurança, automação industrial e saúde.</li>
										<li class='skills_li'>Sou capaz de integrar tecnologias de visão computacional em sistemas existentes, utilizando ferramentas como a biblioteca OpenCV para Python.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.7s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-cloud-upload"></i>
									<h5>Ferramentas e Deployment</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Experiência com Amazon Web Services (AWS), Microsoft Azure e Google Cloud Platform (GCP), e sei como implantar modelos de machine learning nessas plataformas.</li>
										<li class='skills_li'>Implemento modelos de machine learning usando ferramentas como TensorFlow, Keras e PyTorch, e tenho experiência em implementar modelos de deep learning em GPUs usando o CUDA.</li>
										<li class='skills_li'>GitHub e GitLab.</li>
										<li class='skills_li'>Python, VS code, Jupyter Notebook e JupyterLab.</li>
									</ul>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
								<!-- single-service -->	
								<div class="single-service">
									<i class="fa fa-chrome"></i>
									<h5>Desenvolvimento Web</h5>
									<ul class='skills_ul'>
										<li class='skills_li'>Tenho habilidade em escrever HTML e CSS básico para construir páginas da web.</li>
										<li class='skills_li'>Sou capaz de escrever scripts em JavaScript básico para criar interações e animações simples na página da web.</li>
										<li class='skills_li'>Possuo conhecimento em desenvolvimento web em Python, utilizando frameworks como Flask e Django.</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->	


		<section id="slider" class="slider slider2" style="background-image:url('img/slider2.jpg')">
		</section>

		<div id="latest-works"></div>

		<!-- Latest Works -->
		<section class="projects">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="section-title">
							<h2>Portfólio</h2>
						</div>
					</div>
				</div>
			</div>
				<div id='modelo_gans'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de criação de calçados utilizando redes GANs</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf1.mp4" type="video/mp4"></video>
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong></p>
					</div>
				</div>
				<div id='sis_similaridade' class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de recomendação de calçados por similaridade</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf2.mp4" type="video/mp4"></video>
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong></p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Análise de sobrevivência Churn</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf3.mp4" type="video/mp4"></video>	
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong></p>
					</div>
				</div>
				<div id='clutering'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Segmentação das personas de usuários de produtos</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf4.mp4" type="video/mp4"></video>	
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong></p>
					</div>
				</div>
				<div id='score_atend'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Score para avaliação do atendimento de atendentes</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf5.mp4" type="video/mp4"></video>	
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong></p>
					</div>
				</div>
				<div id='modelo_cirurgia'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de classificação de risco de cancelamento cirúrgico</h2>
						<img src="img/pf6.png" alt="Modelo de classificação de risco de cancelamento cirúrgico" class="project-image">
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong></p>
					</div>
				</div>
				<div id='modelo_satisfacao_NLP'></div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Modelo de classificação de satisfação de pacientes utilizando NLP</h2>
						<img src="img/pf7.png" alt="Modelo de classificação de satisfação de pacientes utilizando NLP" class="project-image">
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong></p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Landing page e Blog para o projeto Rio Doce Labs</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf8.mp4" type="video/mp4"></video>					  
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> HTML, CSS, JavaScript, Python, APIs.</p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Landing pages para o projeto Rio Doce Digital</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf9.mp4" type="video/mp4"></video>
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> HTML, CSS, JavaScript, APIs.</p>
					</div>
				</div>
				<div class="project">
					<div class="inner-content wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.8s">
						<h2 class="project-title">Landing pages para o projeto Campus Tech</h2>
						<video autoplay loop muted><source class="project-image" src="videos/pf10.mp4" type="video/mp4"></video>
						<p class="project-description">Descrição do Projeto 1</p>
						<p class="project-tech"><strong>Ferramentas/Tecnologias utilizadas:</strong> HTML, CSS, JavaScript, APIs.</p>
					</div>
				</div>
		</section>
		<!--/ End Works -->
		
		<!-- Clients -->
		<div id="clients" class="clients section">
			<div class="section-title">
				<h2>Empresas</h2>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="img/Empresas/1.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/2.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/3.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/4.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/5.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/6.png" alt="#">
							</div>
							<div class="single-clients">
								<img src="img/Empresas/7.png" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/ End Clients -->
	
		<!-- Contact -->
		<section id="contact" class="contact section">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 col-xs-12">
						<div class="contact-info">
							<h4>Contato</h4>
							<p>Ficou interessado pelo meu perfil do profissional?</p>
							<p>Entre em contato através das informações abaixo, ou nos envie suas dúvidas, curiosidades, propostas, através da caixa de contato ao lado.</p>
							<span><i class="fa fa-phone-square"></i><a href="https://api.whatsapp.com/send/?phone=5579996121420&text&app_absent=0">(079) 99612-1420</a></span>
							<span><i class="fa fa-envelope"></i><a>antonio.ddramos@gmail.com</a></span>
						</div>
					</div>
					<div class="col-md-8 col-sm-12 col-xs-12 ">
						<div class="form-head">
							<form class="form" onsubmit="cadastraUsuario()">
								<div class="form-group">
									<input id="name" name="name" type="text" placeholder="Nome">
								</div>
								<div class="form-group">
									<input id="email" name="email" type="email" placeholder="Email">
								</div>
								<div class="form-group">
									<input id="tel" name="tel" type="tel" placeholder="Telefone">
								</div>
								<div class="form-group">
									<textarea id="message" name="message" placeholder="Mensagem"></textarea>
								</div>
								<div class="form-group">
									<div class="button">
										<button type="submit" class="btn primary">Enviar</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Contact -->
		
		<!-- Footer -->
		<footer id="footer" class="footer section">
			<div class="footer-top">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<!-- Social -->
							<ul class="social">
								<li class="linkedin"><a href="https://www.linkedin.com/in/antoniodramos/"><i class="fa fa-linkedin"></i></a></li>
								<li class="whatsapp"><a href="https://wa.me/5579996121420"><i class="fa fa-whatsapp"></i></a></li>
								<li class="instagram"><a href="https://www.instagram.com/engprodramos/"><i class="fa fa-instagram"></i></a></li>
							</ul>
							<!-- End Social -->
						</div>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p>© 2022 Feito por Antônio</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!--/ End Footer -->
		
		<script src="js/jquery.min.js">  </script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.nav.js"></script>
        <script src="js/jquery.slicknav.min.js"></script>
        <script src="js/easing.min.js"></script>
		<script src="js/jquery-appear.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/owl.carousel.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<script src="js/jquery.counterup.min.js"></script>
		<script src="js/isotope.pkgd.min.js"></script>
		<script src="js/wow.min.js"></script>
		<script src="js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyC0RqLa90WDfoJedoE3Z_Gy7a7o8PCL2jw"></script>
        <script type="text/javascript" src="js/gmaps.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
